<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="bin\Debug\net8.0\testapp.exe" arguments="" stdoutLogEnabled="false" hostingModel="InProcess"></aspNetCore>
      <security>
        <requestFiltering removeServerHeader="true">
          <requestLimits maxAllowedContentLength="1073741824" />
        </requestFiltering>
      </security>
      <httpProtocol>
        <customHeaders>
          <add name="X-XSS-Protection" value="1; mode=block" />
          <remove name="X-Powered-By" />
          <remove name="Server" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
</configuration>